<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Налаштування</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Налаштування</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-list lines="inset">
      <ion-item>
        <ion-icon slot="start" name="moon" color="primary"></ion-icon>
        <ion-label>Темна тема</ion-label>
        <ion-toggle 
          [checked]="themeService.isDarkMode" 
          (ionChange)="toggleTheme()">
        </ion-toggle>
      </ion-item>
      
      <ion-item>
        <ion-icon slot="start" name="notifications" color="primary"></ion-icon>
        <ion-label>Нагадування про тренування</ion-label>
        <ion-toggle 
          [(ngModel)]="notificationsEnabled" 
          (ionChange)="onNotificationsToggle($event)">
        </ion-toggle>
      </ion-item>

      <ion-item button (click)="connectTelegram()">
        <ion-icon slot="start" name="paper-plane" color="tertiary"></ion-icon>
        <ion-label>
          <h2>Підключити Telegram-бота</h2>
          <p>Отримуй миттєві сповіщення та зведення</p>
        </ion-label>
        <ion-icon slot="end" name="open-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <div class="ion-padding-top ion-margin-top">
      <ion-button expand="block" color="danger" fill="outline" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Вийти з акаунту
      </ion-button>
    </div>
  </div>
</ion-content>
