<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Нова нотатка</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <div class="form-group">
      <ion-label class="form-label">Текст нотатки</ion-label>
      <ion-item lines="none" class="custom-input-item textarea-item">
        <ion-textarea 
          [(ngModel)]="text" 
          rows="4" 
          placeholder="Напишіть деталі про тренування, самопочуття клієнта або індивідуальну програму...">
        </ion-textarea>
      </ion-item>
    </div>

    <div class="form-group ion-margin-top">
      <div class="header-with-action">
        <ion-label class="form-label">Корисні посилання</ion-label>
        <ion-button fill="clear" size="small" (click)="addLinkField()">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon> Додати посилання
        </ion-button>
      </div>

      @for (link of links; track trackByIndex($index)) {
        <div class="link-input-row">
          <ion-item lines="none" class="custom-input-item flex-1">
            <ion-icon name="link-outline" slot="start" color="primary"></ion-icon>
            <ion-input [(ngModel)]="links[$index]" placeholder="https://drive.google.com/..."></ion-input>
          </ion-item>
          <ion-button fill="clear" color="danger" size="small" (click)="removeLinkField($index)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      }
    </div>

    <div class="ion-margin-top ion-padding-top">
      <ion-button 
        expand="block" 
        shape="round" 
        color="primary" 
        class="submit-btn" 
        (click)="confirm()" 
        [disabled]="!text.trim()">
        Зберегти нотатку
      </ion-button>
    </div>
  </div>
</ion-content>
